@font-face{
    font-family:"Lato" ;
    src:url("../Font-family/LatoTitle/Lato-Regular.ttf");
    font-weight:100;
    font-style: normal;
}
@font-face{
    font-family:"Roboto" ;
    src:url("../Font-family/RobotoContent/Roboto-Regular.ttf");
    font-weight:100;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Roboto";
    background-color: #f5f5f7;
    color:#131313;
}
h1,h2,h3{
    font-family:"Lato";
    font-weight: bold;
}
/*************HEADER*******************/
/*--------Nav---------*/
header nav ul{
    background-color:#131313;
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    height: 5vh;
    z-index: 1;
}
    header nav ul li{
        list-style-type: none;
        font-weight: bold;
        font-size: 1.3em;
    }
        header nav ul li a{
            text-decoration: none;
            color: white;
        }
/*-------Img header---------*/
/*-img bg-*/
header img:nth-child(2){
    width: 100%;
    height: 98vh;
    border-bottom-right-radius: 25%;
}
/*-my picture-*/
header img:nth-child(3){
    width: 10vw;
    height: 22vh;
    border-radius:50%;
    position: absolute;
    top:25vh;
    left:10vw;
}
/*--txt under my picture--*/
header #MyDescriptionBg{
    position: absolute;
    top:45vh;
    left:5vw;
    color:rgba(255, 255, 255, 0.808);
    font-size: 2em;
}
    header #MyDescriptionBg .bold{
        font-weight: bold;
        color:white;
    }    
/*************BODY*******************/
/*---for all title---*/
.title{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
/*----For each tall Title(help nav fixed)----*/
#Profil,#Competences,#Experiences,#Formations,#Interet{
    padding:70px;
}
/*-----Part Profil----*/
.MyProfil{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
    .MyProfil .kind_profil{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 25vw;
    }
        .MyProfil .kind_profil i{
            font-size: 3em;
            margin-bottom: 10px;
        }
/*-------Color icons------*/
        .MyProfil .kind_profil .fa-lightbulb{
            color: rgb(250, 71, 71);
        }
            .MyProfil .kind_profil .fa-lightbulb:hover{
                color: white;
                background:linear-gradient(45deg, rgb(247, 54, 54),rgb(221, 112, 78));
            }
        .MyProfil .kind_profil .fa-comments{
            color: rgb(84, 84, 231);
        }
            .MyProfil .kind_profil .fa-comments:hover{
                color: white;
                background:linear-gradient(45deg, rgb(73, 54, 247),rgb(116, 124, 233));
            }
        .MyProfil .kind_profil .fa-magic{
            color:rgb(230, 227, 50);
        }
            .MyProfil .kind_profil .fa-magic:hover{
                color: white;
                background:linear-gradient(45deg, rgb(229, 252, 20),rgb(255, 238, 141));
                
            }
        .MyProfil .kind_profil p{
            font-size: 1.2em;
            margin-top: 10px;
        }
/*------------Part Competences-------------*/
#Competences{
    background-color: white;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
/*-------Part Bancassurance------*/
#bankInsurance{
    display: flex;
}
    #bankInsurance .leftContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:50vw;
        height:50vh;
    }
        #bankInsurance .leftContent ul{
            list-style-type: square;
        }
            #bankInsurance .leftContent ul li{
            margin-top:15px;
            font-size:1.2em;
            }
    #bankInsurance img{
        width: 50vw;
        height: auto;
    }
/*--------Part Info--------*/
#Info{
    display: flex;
}
    #Info img{
        width: 49vw;   
        height: auto; 
    }
    #Info .rightContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vh;
    }
        #Info .rightContent ul{
            list-style-type: square;
        }
            #Info .rightContent ul li{
                margin-top: 15px;
                font-size: 1.2em;
            }
/*-------Part Language-------*/
#language{
    display: flex;
}
    #language .leftContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vh;
    }
        #language .leftContent ul{
            list-style-type: square;
        }
            #language .leftContent ul li{
                margin-top: 15px;
                font-size: 1.2em;
            }
    #language img{
        width: 50vw;
        height: auto;
    }
/*---------Part Experience-----------*/
#Experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: white;
        }
  /* Timeline Exp
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timelineExp ul {
    background: #f5f5f7;
}
  .timelineExp ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #f45b68cc;
  }
    .timelineExp ul li::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);  
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
    }
    .timelineExp ul li div {       
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: #F45B69;
    }
        .timelineExp ul li div::before {
          content: '';         
          position: absolute;
          bottom: 7px;
          width: 0;
          height: 0;
          border-style: solid;
        }
        .timelineExp ul li:nth-child(odd) div {
          left: 45px;
        }
        .timelineExp ul li:nth-child(odd) div::before {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent #F45B69 transparent transparent;
        }
        .timelineExp ul li:nth-child(even) div {
          left: -439px;
        }
        .timelineExp ul li:nth-child(even) div::before {
          right: -15px;
          border-width: 8px 0 8px 16px;
          border-color: transparent transparent transparent #F45B69;
        }
time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}
  /* Effects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timelineExp ul li::after {
    transition: background .5s ease-in-out;
}
.timelineExp ul li.in-view::after {
    background: #F45B69;
}
  .timelineExp ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    }
  .timelineExp ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
    }
  .timelineExp ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  .timelineExp ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
/*--------Images----------*/
.timelineExp img{
    width: 10vw;
    height: auto;
}
/*---------Part Formation---------*/
#Formations{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 20vh;
    width: 100vw;
    margin-top: 30px;
}
#TimelineFormation{
    display: flex;
    justify-content: center;
    align-items: center;
}
    #TimelineFormation .leftContent{
        width: auto;
        height: auto;
    }
    #TimelineFormation ul{
       list-style-type: none;
    }
        #TimelineFormation ul li{
            margin-top: 20px;
            font-size: 1.3em;
            text-align: center;
        }
    #TimelineFormation img{
        width: 50vw;
        height: auto;
    } 
/*----------Centres d'intérets--------------*/
#Interet{
    padding: 1%;
    height: 20vh;
    width: 100vw;
    background-color:  white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoInt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 90vw;
    margin: auto;    
}
    #logoInt i{
        font-size: 1.8em;
        text-align: center;
    }
/*-------Color interests--------*/
#logoInt .fa-gamepad{
    color: rgb(61, 118, 194);
}
    #logoInt .fa-gamepad:hover{
        transform: scale(1.50);
    }
#logoInt .fa-music{
    color: purple;
}
    #logoInt .fa-music:hover{
        transform: scale(1.50);
    }
#logoInt .fa-basketball-ball{
    color: orange;
}
    #logoInt .fa-basketball-ball:hover{
        transform: scale(1.50);
    }
#logoInt .fa-film{
    color: black;
}
    #logoInt .fa-film:hover{
        transform: scale(1.50); 
    }
#logoInt .fa-ghost{
    color: blueviolet;
}
    #logoInt .fa-ghost:hover{
        transform: scale(1.50);
    }
#logoInt .fa-utensils{
    color: silver;
}
    #logoInt .fa-utensils:hover{
        transform: scale(1.50);
    }
#logoInt i p{
    font-size: 0.6em;
    margin-top: 10px;
    color: black;
   }
/****************Footer*****************/
footer{
    height: auto;
    width: auto;
    background-color: #131313;
    color: white;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
    footer h3{
        margin-top: 10px;
        border-top: solid 2px white;
    }
    footer #Ft{
        display: flex;
        flex-direction: row;    
        justify-content: space-evenly;
    }
/*--Part social network--*/
        footer #Ft #socialNetwork{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            footer #Ft #socialNetwork .fa-linkedin{
                color:#006fb1;       
                font-size: 2em;
                margin-top: 10px;
            }
/*--Part Contact---*/
        footer #Ft #contact{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
        }
            footer #Ft #contact i{
                font-size: 1.5em;
                margin: 10px;
            }
                footer #Ft #contact i a{
                    font-size: 0.8em;
                    text-decoration: none;
                    color: white;
                }
/*---Copyright---*/
    footer #cp{
        display: flex;
        justify-content: center;
    }
        footer #cp p{
            border-top:solid 2px white;
            width: auto;
        }
/*------------Button bottom to the top--------------*/
.glow-on-hover {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    color: #131313;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 1.2em;
    left: 95%;
}
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    .glow-on-hover:active {
        color: #000
    }
        .glow-on-hover:active:after {
            background: transparent;
        }
        .glow-on-hover:hover:before {
            opacity: 1;
        }
    .glow-on-hover:after {
        z-index: -1;
        content: '';    
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        left: 0;
        top: 0;
        border-radius: 10px;
    }
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*-Scroll Bar -*/
::-webkit-scrollbar{
    background-color:white;
}
::-webkit-scrollbar-thumb{
    background-color: #131313;;
}
  /* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*-------Tall laptop------*/
@media only screen and (min-width:1400px){
    /*-My Picture-*/
    header img:nth-child(3){
        width: 9vw;
        height: 19vh;
    }
}
@media only screen and (max-width:1400px){
    /*-My Picture-*/
    header img:nth-child(3){
        width: 10vw;
        height: 17vh;
    }
    /*-txt under my picture-*/
    header #MyDescriptionBg{
        font-size: 1.5em;
    }
}
/*------Laptop-------*/
@media only screen and (max-width:1200px){
    /*-My Picture-*/
    header img:nth-child(3){
        width: 12vw;
        height: 18vh;
    }
    /*-txt under my picture-*/
    header #MyDescriptionBg{
        font-size: 1.3em;
    }
    /*-Part Profil-*/
    .MyProfil .kind_profil{
        width: 33vw;
    }
    /*-Part Competences-*/
    #bankInsurance .leftContent{
        text-align: center;
    }
        #bankInsurance .leftContent ul{
            list-style-type: none;
        }
    #Info .rightContent ul{
        list-style-type: none;
    }
    #language .leftContent ul{
        list-style-type: none;
    }
}
/*--------Tall tablet, little computer-----------*/
@media only screen and (max-width:992px){
    /*-bg head-*/
    header img:nth-child(2){
        height: auto;
    }
    /*-My Picture-*/
    header img:nth-child(3){
        top:20vh;
        width: 13vw;
        height: 15vh;
    }
    /*-txt under my picture-*/
    header #MyDescriptionBg{
        top:38vh;
        font-size: 1em;
    }
    /*-Part Profil-*/
    .MyProfil .kind_profil{
        font-size: 0.9em;
    }
    /*-Part Competences-*/
    #bankInsurance .leftContent{
        height: auto;
    }
    #bankInsurance img{
        height: 40vh;
    }
    #Info img{
        height: 40vh;
        width: 50vw;
    }
    #Info .rightContent{
        height: auto;
    }
    #language .leftContent{
        height: auto;
    }
    #language img{
        height: 40vh;
    }
    /*-button bottom to the top-*/
    .glow-on-hover{
        left: 90vw;
    }
}
/*------Animation Js Part Experiences-----*/
@media screen and (max-width: 900px) {
    .timelineExp ul li div {
      width: 250px;
    }
    .timelineExp ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
/*---------------Tablet----------------*/
@media only screen and (max-width:768px){
    /*-Nav-*/
    header nav ul li{
        font-size: 1em;
    }
    /*-My Picture-*/
    header img:nth-child(3){
        top:15vh;
        width: 14vw;
        height: 13vh;
    }
    /*-txt under my picture-*/
    header #MyDescriptionBg{
    top:30vh;
    font-size: 0.9em;
    }
    /*-for all title h1-*/
    .title{
        font-size: 1.2em;
    }
        #Profil,#Competences,#Experiences,#Formations,#Interet{
            height: 13vh;
        }
    /*-Part Profil-*/
    .MyProfil{
        flex-wrap: wrap;
    }
        .MyProfil .kind_profil{
            margin-top: 15px;
            width: 48%;
        }
    /*-Part Competences-*/
    #bankInsurance .leftContent{
        font-size: 0.9em;
    }
    #bankInsurance img{
        height: 30vh;
    }
    #Info img{
        height: 30vh;
    }
    #Info .rightContent{
        font-size: 0.9em;
    }
    #language .leftContent{
        font-size: 0.9em;
    }
    #language img{
        height: 30vh; 
    }
    /*-Part formations-*/
    #TimelineFormation ul li{
        font-size: 1em;
    }
    /*-icons Part Interests-*/
    #logoInt{
        flex-wrap: wrap;
        height: 40vh;
        width: 50%;
    }
}
/*------Animation Js Part Experiences-----*/
@media screen and (max-width: 600px) {
    .timelineExp ul li {
      margin-left: 20px;
    }
    .timelineExp ul li div {
      width: calc(100vw - 91px);
    }
    .timelineExp ul li:nth-child(even) div {
      left: 45px;
    }
    .timelineExp ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent;
    }
  }
/*--------------Smartphone-------------*/
@media only screen and (max-width:575px){
    /*-Nav-*/
    header nav{
        display:none;
    }
    /*-My Picture-*/
    header img:nth-child(3){
        width: 17vw;
        height: 11vh;
        top:1vh;
        left:4vw;
    }
    /*-txt under my picture-*/
    header #MyDescriptionBg{
        top:4vh;
        left:30vw;
        font-size: 1em;
    }
    /*-for all title-*/
    .title{
        font-size: 1.1em;
    }
        #Profil,#Competences,#Experiences,#Formations,#Interet{
            height: 10vh;
        }
    /*-Part Profil-*/
    .MyProfil .kind_profil{
        width: 90%;
    }
    /*-Part Competences-*/
    #bankInsurance{
        justify-content: center;
    }
        #bankInsurance img{
            display: none;
        }
        #bankInsurance h2{
            width: 90vw;
        }
        #bankInsurance .leftContent ul li{
            width: 90vw;
        }
    #Info{
        justify-content: center;
        text-align: center;
    }
        #Info img{
            display: none;
        }
        #Info h2{
            width:90vw;
            margin-top: 10px;
        }
    #language{
        justify-content: center;
        text-align: center;
    }
        #language img{
            display: none; 
        }
        #language h2{
            margin-top: 10px;
        }
    /*-icons Part Interests-*/
    #logoInt i p{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    /*-button bottom to the top-*/
    .glow-on-hover{
        display: none;
    }
    /*-Footer-*/
    footer{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
        footer #Ft{
            flex-direction: column;
        }
    /*-copyright-*/
    #cp{
        margin-top: 10px;
    }
}
/*-------------Little Smartphone-----------*/
@media only screen and (max-width:375px){
    /*-My Picture-*/
    header img:nth-child(3){
        width: 20vw;
        height: 9vh;
    }
    /*-txt under my picture-*/
    header #MyDescriptionBg{
        top:2vh;
        font-size: 0.9em;
    }
    /*-for all title h1-*/
    .title{
        font-size: 0.9em;
    }
    /*-all h2-*/
    h2{
        font-size: 1.2em;
    }
    /*-Part Profil-*/
    .MyProfil .kind_profil p{
        font-size: 1em;
    }
    /*-Part Competences-*/
    #bankInsurance .leftContent ul li,
    #Info .rightContent ul li,
    #language .leftContent ul li
    {
        font-size: 1em;
        width: 90vw;
    }
    /*-part Formations-*/
    #TimelineFormation{
        flex-wrap: wrap;
    }
        #TimelineFormation img{
            height: 20vh;
            width: 90vw;
        }
    /*-icons Part Interests-*/
    #logoInt{
        height: auto;
    }
        #logoInt i{
            margin-top: 10px;
            height: auto;
        }
    /*-copyright-*/
    #cp{
        font-size: 0.8em;
    }
}

